@{
    ViewData["Title"] = "Home Page";
}
<div class=container>
    <div class="row">
        <div class="col-4">
            <div class="buttonstyle">

                <p>@Html.ActionLink("See all artists", "Index", "Artists")</p>

            </div>
        </div>
        <br>
        <div class="col-4">
            <div class="buttonstyle">

                <p>@Html.ActionLink("See all classifications", "Index", "Classifications")</p>

            </div>
        </div>
        <br>
        <div class="col-4">
            <div class="buttonstyle">

                <p>@Html.ActionLink("Login or Register","Index","Account")</p>

            </div>
        </div>
    </div>
</div>





