@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutSplash.cshtml";
}
<div class=container>
    <div class="row">
        <div class="col-6">
            <div class="buttonstyle">

                <p>@Html.ActionLink("Enter as a guest", "Guest" , "Home")</p>

            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="buttonstyle">

                <p>@Html.ActionLink("Login or Register","Index","Account")</p>

            </div>
        </div>
    </div>
</div>





