<h1>All Artists:</h1>

<ol>
@foreach (Artist artist in Model)
{
    <ul>
        <li>Name: @artist.Name</li>
        <li>Age: @artist.Age</li>
        <li>Seeking: @artist.Seeking</li>
        
    </ul>
    <a href="/Artists/Details/@(artist.ArtistId)"><p>View Details</p></a>
    <br>
}
</ol>

